/* Extend Bootstrap classes */
.py-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Layout */
body {
  font-family: "Nunito", sans-serif;
}

.pp-btn {
  border-radius: 3rem;
}

.header {
  position: relative;
  color: white;
  font-size: 0.9rem;
}

@media screen and (max-width: 991px) {
  .header {
    background-image: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
  }
}

.header a {
  color: white;
  text-decoration: none;
}

.header-illustration {
  z-index: -1;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1199px) {
  .header-illustration {
    background-image: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
  }
}

.header-logo {
  height: 3rem;
}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 1500px;
  border-radius: 2rem;
  background-image: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
  transform: translateY(-65%) rotate(-10deg);
  z-index: -2;
}

.header-points {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.header-points svg {
  width: 100%;
}
.header-image {
  margin-right: 7vw;
}

.flag {
  width: 1.2rem;
}

.call-to-action {
  display: inline-block;
  background-color: #273444;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.jumbo h1 {
  font-size: 3.5rem;
}
.jumbo h2 {
  font-size: 2.5rem;
}
.jumbo p {
  font-size: 1.2rem;
}
